<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Add a line here for your computer if you want to test and we can comment/uncomment for our own computers-->
    <!--<add key="dsn" value="Data Source=OBSIDIAN;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
    <add key="dsn" value="Data Source=CANIS-DIRUS;Initial Catalog=cse136;User Id=user1;Password=password123;"/>
	  <!--<add key="dsn" value="Data Source=localhost;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="SL.Service1">
        <endpoint address="" behaviorConfiguration="SL.Service1AspNetAjaxBehavior"
          binding="webHttpBinding" contract="SL.Service1" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SL.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
