<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="dsn" value="Data Source=localhost\sql2008dev;Initial Catalog=cse136;User Id=test1;Password=pass1234;"/>-->
    <!--<add key="dsn" value="Data Source=CANIS-DIRUS;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
    <!--<add key="dsn" value="Data Source=OBSIDIAN;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
	<add key="dsn" value="Data Source=localhost;Initial Catalog=cse136;User Id=user1;Password=password123;"/>
    <add key="logDestination" value="file"/>
    <!--<add key="logDestination" value="db"/>-->
  </appSettings>
</configuration>