<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Add a line here for your computer if you want to test and we can comment/uncomment for our own computers-->
    <!--<add key="dsn" value="Data Source=OBSIDIAN;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
	  <!--<add key="dsn" value="Data Source=localhost;Initial Catalog=cse136;User Id=user1;Password=password123;"/>-->
    <<add key="dsn" value="Data Source=CANIS-DIRUS;Initial Catalog=cse136;User Id=user1;Password=password123;"/>
  </appSettings>
</configuration>

